*{
    margin: 0;
    padding: 0;
}
body{
    text-align: center;
    display: flex;
    flex-direction: row;  
    background-image: url("Assets/Images/background.png"); 
    background-size: cover;
    align-items: center;
    justify-content: center;
}
p{
    color: white;
}
form{
background-color: #0C4CA3;
    padding: 1px 0 39px;
}
.container{
    
   
    width:70%;
    height: 100vh;
    display: flex;
align-items: center;
justify-content: center;
}
img{
    width: 65%;
}

.form{
    width: 30%;
    height: 100vh;
    
    padding: 0 10px;
}
.form-title{
    margin-top: 40px;
    font-size: 1.25rem;
    text-align: left;
    padding: 0 6.8%;
}
input{
    width: 76%;
   margin: 8px auto;
    padding: 6px 15px;
    border-radius: 5px;
    border: none;
    font-size: 1rem;
}
select{
    width: 84%;
    margin: 8px auto;
    padding: 6px 15px;
    border-radius: 5px;
    border: none;
    font-size: 1rem;
    color: #777777;
}

option{
    color: black;
    width: 50%;
}
.terms{
    text-align: left;
    padding: 0 6.8%;
}
button{
    
    background: linear-gradient(0deg, rgba(195,195,198,1) 0%, rgba(255,255,255,1) 49%, rgba(189,186,186,1) 100%);
font-size: 1.5rem;
font-weight: bold;
color: rgb(231, 8, 8);
padding: 10px 20px;
border-radius: 10px;
margin-top: 60px;
border: none;
}

@media screen and (max-width:555px) {
    body{
        background-image: url("Assets/Images/mobile_background.png");
        flex-direction: column;
        background-size: contain;
    }
    .container{
        width:100%;
        height: 40vh;
    }
    .form{
        width: 80%;
        height: 97vh;
        margin-bottom: 33px;
    }
}